.likebox {
	margin: 20px auto;
	width: 1500px;
	border: 2px solid #212529;
}

.liketb {
	width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.ct {
	caption-side: top;
	color: black;
	padding-left: 10px;
	font-size: 24px;
	font-weight: bold;
	vertical-align: middle;
}

.liketh {
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	text-align:center;
	vertical-align: middle;
	border-top: 1px solid #dee2e6;
	border-bottom: 2px solid #dee2e6;
}

.liketd {
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	text-align:center;
	vertical-align: middle;
	border-top: 1px solid #dee2e6;
}

.likeimg {
	width: 80px;
	height: 80px;
}

.likecartimg {
    width: 30px;
    height: 30px;
}

.backbtn {
	text-align: center;
	margin-bottom: 20px;
}

.nolist {
	width: fit-content;
	font-size: 24px;
	margin: 0 auto;
}

.statusimgbox {
	position: absolute;
	margin-left: 55px;
	z-index: 1;
}

.statusimg {
	width: 50px;
    height: 25px;
	display: none;
}