.a1:hover {
	color: #4D4D4D;
}

.a1 a:link {
	color: black;
	text-decoration: none;
}

.a1 a:visited {
	color: black;
	text-decoration: none;
}

#more {
	display: none;
}

.a1 a:active {
	color: black;
}

fieldset {
	width: 400px;
	border: 1px solid black;
	border-radius: 15px;
	/*margin-top: 20px;*/
	margin-left: 700px;
}

legend {
	color: black;
}

.form1 {
	width: 450px;
	border-bottom: 1px solid black;
	margin: 10px;
	padding-bottom: 20px;
	line-height: 30px;
	text-align: center;
}

.sub {
	text-align: center;
}

.label1 {
	width: 100px;
}