.historybox {
	margin: 20px auto;
	width: 1500px;
	border: 2px solid #212529;
}

.historytb {
	width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.ct {
	caption-side: top;
	color: black;
	padding-left: 10px;
	font-size: 24px;
	font-weight: bold;
	vertical-align: middle;
}

.historyth {
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	text-align:center;
	vertical-align: middle;
	border-top: 1px solid #dee2e6;
	border-bottom: 2px solid #dee2e6;
}

.historytd {
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	text-align:center;
	vertical-align: middle;
	border-top: 1px solid #dee2e6;
}

.historyimg {
	width: 80px;
	height: 80px;
}

.historycartimg {
    width: 30px;
    height: 30px;
}

.backbtn {
	text-align: center;
	margin-bottom: 20px;
}

.nolist {
	width: fit-content;
	font-size: 18px;
	margin: 0 auto;
}