.leftside {
    width: 250px;
    position: relative;
    float: left;
    top: 230px;
    left: 230px;
}

.condition {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    border-bottom: 1px solid black;
}

.category {
    margin-top: 20px;
}

.catediv {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.manager {
    font-size: 20px;
    font-weight: bold;
    margin-top: 200px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.managerul li {
    list-style-type: none;
}

.managerul li a {
    font-size: 18px;
    font-weight: bold;
}

.catea:link {
    width: 25px;
    height: 25px;
    float: right;
    margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.catea:visited {
    color: black;
    font-weight: bold;
}

.cateul {
    display: none;
}

.cateul_li {
   margin-bottom: 5px;
   list-style: none;
   font-weight: bold;
}

.cateul_li_a:link {
	color: black;
    font-size: 18px;
}

.cateul_li_a:visited {
    color: black;
    font-size: 18px;
}

.cateul_li_a:visited:hover {
    color: tomato;
}

.rightoutbox {
    width: 1350px;
    position: relative;
    float: left;
    margin-left: 20px;
    top: 235px;
    left: 230px;
    border-left: 1px solid gray;
}

.rightside {
    width: fit-content;
    margin: 20px;
    float: left;
    border: 1px solid gray;
}

.imgbox {
	position: relative;
    margin: 10px;
}

.proimg{
    width: 200px;
    height: 200px;
}

.proname {
    width: 200px;
    height: 50px;
    margin: 10px auto;
}

.buttonbox {
    width: 210px;
    height: 35px;
    margin: 10px auto;
    border-top: 1px solid gray;
}

.proprice {
    height: 20px;
    margin-top: 10px;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    border-right: 1px solid black;
}

.cartimg {
    width: 20px;
    height: 25px;
}

.cart {
    float: left;
    margin-top: 6px;
    padding: 0 35px;
}

.cart_a {
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

.cart_a i{
    color: black;
}

.page {
    clear: both;
    width: fit-content;
    margin: 0 auto;
    padding-top: 50px;
}

.page_ul {
	float: left;
}

.page_ul_li {
    float: left;
    padding: 0 20px;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    border: 2px solid gray;
    border-radius: 5px;
}

.page_ul_li:hover {
	color: tomato;	
}

.page_ul_li_a:link {
    color: gray;
}

.page_ul_li_a:visited {
    color: gray;
}

.page_ul_li_a:visited:hover {
    color: tomato;
}

.like {
    position: absolute;
    margin-top: 10px;
    margin-left: 75%;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 100%;
    background-color: white;
    display: none;
}

.like_a:link {
    color: red;
}

.like_a:visited{
    color: red;
}

.imgbox:hover .like{
    display: block;
}