.leftside {
    width: 250px;
    position: fixed;
    float: left;
    top: 30%;
    left: 100px;
    margin-top: 60px;
    background-color: transparent;
}

.condition {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    border-bottom: 1px solid black;
}

.category {
    margin-top: 20px;
    background-color: transparent;
}

.catediv {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.manager {
    font-size: 20px;
    font-weight: bold;
    margin-top: 200px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.managerul li {
    list-style-type: none;
}

.managerul li a {
    font-size: 18px;
    font-weight: bold;
}

.catea:link {
    width: 25px;
    height: 25px;
    float: right;
    margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.catea:visited {
    color: black;
    font-weight: bold;
}

.cateul {
    display: none;
}

.cateul_li {
   margin-bottom: 5px;
   list-style: none;
   font-weight: bold;
}

.cateul_li_button {
	width: fit-content;
	height: 30px;
    font-size: 16px;
    font-weight: bold;
	border: none;
	color: black;
	background-color: transparent;
}

.standardarea {
    width: 70%;
    position: relative;
    float: left;
    left: 350px;
}

.listarea {
    width: 66%;
    position: relative;
    float: left;
    left: 350px;
    margin-top: 20px;
    margin-left: 20px;
}

.rightbox {
	height: 550px;
}

.rightside {
    width: fit-content;
    margin: 20px;
    float: left;
    border: 1px solid gray;
}

.imgbox {
	position: relative;
    margin: 10px;
}

.proimg{
    width: 200px;
    height: 200px;
}

.proname {
    width: 200px;
    height: 50px;
    margin: 10px auto;
    font-size: 18px;
    font-weight: bold;
}

.buttonbox {
    width: 210px;
    height: 35px;
    margin: 10px auto;
    border-top: 1px solid gray;
}

.proprice {
    height: 25px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    font-size: 18px;
    font-weight: bold;
    border-right: 1px solid black;
}

.cartimg {
    width: 30px;
    height: 30px;
}

.cart {
    float: left;
    margin-top: 6px;
    margin-left: 12%;
}

.cart_a {
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

.cart_a i{
    color: black;
}

.page {
    clear: both;
    width: fit-content;
    margin-left: 50%;
    padding-top: 40px;
    padding-bottom: 100px;
}

.page_ul {
	float: left;
}

.page_ul_li {
    float: left;
    list-style-type: none;
    color: black;
    border: 2px solid gray;
    border-radius: 5px;
}

.page_ul_li_button {
	width: 84px;
	height: 44px;
	font-size: 20px;
    font-weight: bold;
	border: none;
	color: gray;
	background-color: transparent;
}

.page_ul_li_button:hover {
	color: tomato;	
}

.like {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 80%;
    line-height: 40px;
    text-align: center;
    background-color: transparent;
    display: none;
}

.like_button {
	color: red;
	border-radius: 25px;
	border: 2px solid gray;
	background-color: transparent;
}

.like_button:hover {
	border-color: red;
}

.imgbox:hover .like {
    display: block;
}

.flip {
	margin: 0px;
	padding: 5px;
	font-size: 18px;
    font-weight: bold;
	cursor: pointer;
	font-family: 'Arial';
}

.flip:hover {
	color: tomato;
}

.panel {
	margin: 0px;
	padding-top: 10px;
	padding-left: 25px;
	display: none;
	font-family: 'Arial';
	border-top: solid 1px #000000;
}

.modebox {
	width: fit-content;
	float: left;
	margin-left: 24.5%;
	font-size: 18px;
    font-weight: bold;
    line-height:40px;
}

.modebtn {
	width: 30px;
	margin-left: 5px;
}

.modeimg {
	width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.searchbox {
	width: 223px;
	margin-left: 76%;
	border-radius: 5px;
	border: 1px solid gray;
}

.searchinput {
	width: 178px;
	height: 40px;
	float: left;
	border: none;
	margin-left: 2px;
}

.searchbtn {
	border: none;
	background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	box-shadow:0 0 0 60px #ffffff inset; 
}

.toolbar {
	float: right;
    position: fixed;
    top: 40%;
    right: 0;
    width: 40px;
    border-radius: 5px;
    text-align: center;
    background-color: silver;
}

.toolbar_ul {
	line-height:25px;
}

.toolbar_li {
	width: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
   	list-style-type: none;
}

.toolbar_li:hover .msg {
	display: block;
	margin-top: -27px;
}

.toolbar_li:hover {
	border-radius: 5px;
	background-color: gray;
}

.toolbar_a {
	font-size: 24px;
}

.toolbar_a:link {
	color: white;
}

.toolbar_a:visited {
	color: white;
}

.toolbar_a:hover {
	color: tomato;
}

.top_a {
	color: white;
	font-size: 24px;
	cursor: pointer;
}

.top_a:hover {
	color:tomato;
}

.msg {
	display: none;
	width: 90px;
	position: absolute;
	color: white;
	margin-top: 2px;
	right: 35px;
	font-size: 14px;
    font-weight: bold;
	z-index: -1;
	border-radius: 5px;
	background-color: gray;
}

.listbox {
	height: 220px;
	position: relative;
    padding: 20px 10px 20px 0;
    border-bottom: 1px solid #ccc;
}

.listimgbox {
	float: left;
	position: relative;
    margin: 10px;
}

.listproimg {
	width: 150px;
    height: 150px;
}

.listinfobox {
	float: left;
	margin: 10px;
	padding: 30px;
}

.listproname {
    font-size: 20px;
    font-weight: bold;
}

.listbuttonbox {
	float: right;
}

.listlike {
	float: right;
    width: 40px;
    height: 40px;
    margin-left: 64%;
    margin-bottom: 40px;
    line-height: 40px;
    background-color: transparent;
/*     display: none; */
}

.listlike_button {
	color: red;
	border-radius: 25px;
	border: 2px solid gray;
	background-color: transparent;
}

.listlike_button:hover {
	border-color: red;
}

.listproprice {
	clear: both;
    font-size: 28px;
    font-weight: bold;
    margin-left: 35%;
    margin-bottom: 10px;
}

.listcart {
    width: 200px;
    border-radius: 5px;
    border: 3px solid gray;
}

.listcart_a {
	color: black;
}

.listcart_a:link {
	color: black;
}

.listcart_a:visited {
	color: black;
}

.listcart_a:hover {
	color: tomato;
}

.listcartimg {
	float: left;
	width: 40px;
    height: 40px;
}

.listcarttext {
    font-size: 30px;
    font-weight: bold;
}