.funbox {
    width: 240px;
    height: 50px;
    margin-top: 10px;
    margin-left: 20px;
    /* border: 1px solid aqua; */
}

.funbtn {
    width: 100px;
    height: 50px;
    float: left;
    margin-right: 20px;
    font-size: 24px;
    font-weight: bold;

}

.updateprice {
    margin: 20px auto;
    font-size: 30px;
    font-weight: bold;
    text-decoration: line-through;
    color: gray;
}

.updatebox {
    display: none;
}

.updatetext {
    float: left;
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
}

.updatebtn {
    float: left;
    height: 36px;
    font-size: 20px;
    font-weight: bold;
}