.addbox {
	width: 50%;
	position: relative;
	top: 300px;
	left: 25%;
}

.addfs {
	border-radius: 20px;
	border: 5px solid gainsboro;
}

.addtitle {
	font-size: 36px;
	font-weight: bold;
	margin-left: 30px;
}

.addlab {
	font-size: 30px;
	font-weight: bold;
}

.adddiv {
	margin-bottom: 20px;
	margin-left: 120px;
}

.addsel {
	font-size: 25px;
}

.addinput {
	width: 250px;
    font-size: 25px;
}

.addbtn {
	width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}