/* .title { */
/*     width: fit-content; */
/*     position: relative; */
/*     margin: 0 auto; */
/*     font-size: 48px; */
/*     font-weight: bold; */
/* } */

/* .branddiv { */
/*     width: fit-content; */
/*     position: relative; */
/*     margin: 0 auto; */
/*     font-size: 24px; */
/*     font-weight: bold; */
/* } */

/* .brandsel { */
/* 	font-size: 24px; */
/*     outline: none; */
/* } */

/* .detail { */
/*     width: fit-content; */
/*     position: relative; */
/*     margin: 0 auto; */
/*     font-size: 24px; */
/*     font-weight: bold; */
/* } */

/* .mp { */
/*     width: fit-content; */
/*     position: relative; */
/*     float: left; */
/*     left: 50px; */
/* } */

/* .mpcontent { */
/* 	width: 70%; */
/*     position: relative; */
/*     float: left; */
/*     left: 200px; */
/* } */

/* .mpbox { */
/*     margin: 30px auto; */
/* } */

/* .mpbtn { */
/*     width: 200px; */
/*     height: 100px; */
/*     margin: 10px; */
/*     border-radius: 20px; */
/*     border-color: #4d4d4d; */
/*     background-color: white; */
/*     outline: none; */
/*     cursor: pointer; */
/* } */

/* .mpimgbox { */
/*     float: left; */
/*     margin-left: 10%; */
/* } */

/* .mpimg { */
/*     width: 50px; */
/*     height: 50px; */
/* } */

/* .mptext { */
/*     width: fit-content; */
/*     float: left; */
/*     margin: 0 10%; */
/*     font-size: 36px; */
/*     font-weight: bold; */
/* } */

.content {
    width: 88%;
    float: right;
    margin-top: -615px;
}

.overview {
	width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
/*     border: 1px solid red; */
}

.overviewbox {
	width: 40%;
	float: left;
	margin: 0 auto;
	border-radius: 10px;
}

.yellow {
	background-color: #f9b115;
}

.red {
	background-color: #e55353;
}

.imgbox {
	width: 30%;
	float: left;
	margin: 10px;
}

.overviewimg {
	width: 100%;
	height: 100%;
}

.overviewcount {
	width: 30%;
    float: right;
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
}

.counttext {
	float: right;
    margin-right: 20px;
/*     border: 1px solid blue; */
}

.overviewtitle {
	width: fit-content;
    float: right;
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 20px;
/*     border: 1px solid blue; */
}

.picview {
	width: 95%;
	display: flex;
	margin: 10px auto;
	border: 1px solid tomato;
	border-radius: 10px;
}

.picbox {
	width: 40%;
	float: left;
	margin: 10px auto;
/* 	border-radius: 10px; */
/* 	border: 1px solid tomato; */
}

.picviewtitle {
	font-size: 36px;
    font-weight: bold;
    padding: 10px;
/*     border-radius: 10px 10px 0 0; */
/*     background-color: tomato; */
}

.pic {
	padding: 10px;
/* 	border: 1px solid tomato; */
}

.tableview {
	width: 95%;
	margin: 10px auto;
	padding: 10px;
	border: 1px solid tomato;
	border-radius: 10px;
}

.tableviewtitle {
	float: left;
	font-size: 36px;
    font-weight: bold;
    padding: 10px;
}

.addbox {
	float: right;
    margin-top: 15px;
}