.title {
    width: fit-content;
    position: relative;
    margin: 0 auto;
    font-size: 48px;
    font-weight: bold;
}

.branddiv {
    width: fit-content;
    position: relative;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
}

.brandsel {
	font-size: 24px;
    outline: none;
}

.detail {
    width: fit-content;
    position: relative;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
}

.mp {
    width: fit-content;
    position: relative;
    float: left;
    left: 50px;
}

.mpcontent {
	width: 70%;
    position: relative;
    float: left;
    left: 200px;
}

.mpbox {
    margin: 30px auto;
}

.mpbtn {
    width: 200px;
    height: 100px;
    margin: 10px;
    border-radius: 20px;
    border-color: #4d4d4d;
    background-color: white;
    outline: none;
    cursor: pointer;
}

.mpimgbox {
    float: left;
    margin-left: 10%;
}

.mpimg {
    width: 50px;
    height: 50px;
}

.mptext {
    width: fit-content;
    float: left;
    margin: 0 10%;
    font-size: 36px;
    font-weight: bold;
}