.infobox {
    float: left;
    margin-top: 16px;
    margin-left: 50px;
    width: 600px;
}

.infoname {
    font-size: 36px;
    font-weight: bold;
}

.infono {
    margin: 10px auto;
    color: gray;
    font-weight: bold;
}

.infoseries {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.infocate {
    margin: 20px auto;
    font-size: 24px;
    font-weight: bold;
}

.infoprice {
    margin: 20px auto;
    font-size: 30px;
    font-weight: bold;
}

.infocount {
    float: left;
    margin-top: 5px;
    font-size: 30px;
    font-weight: bold;
}

.selbox {
    float: right;
    margin-left: 10px;
}

.countsel {
    width: fit-content;
    height: 40px;
    padding-left: 15px;
}

.cartbtn {
    width: 150px;
    height: 40px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    border: 1px solid gray;
}

.btn:hover {
    background-color: gainsboro;
}

.lineshare {
	float: left;
	margin-top: 10px;
	margin-left: 250px;
}

.maybelike {
	margin-left: 20px;
	margin-bottom: 50px;
	width: fit-content;
	height: 350px;
	clear: both;
	border: 2px solid gray;
}

.maybeliketext {
	margin-top: 10px;
	margin-left: 10px;
	font-size: 24px;
    font-weight: bold;
}

.raside {
    width: 200px;
    margin: 10px;
    float: left;
    border: 1px solid gray;
}

.raimg{
    width: 200px;
    height: 150px;
}

.raname {
    width: 180px;
    height: 50px;
    margin: 10px;
}

.rabuttonbox {
    width: 198px;
    height: 35px;
    margin: 10px auto;
    border-top: 1px solid gray;
}

.raprice {
    height: 20px;
    margin: 10px 50px;
}