.infobox {
    float: left;
    margin-top: 16px;
    margin-left: 50px;
    width: 600px;
}

.infoname {
    font-size: 36px;
    font-weight: bold;
}

.infono {
    margin: 10px auto;
    color: gray;
    font-weight: bold;
}

.infoseries {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.infocate {
    margin: 20px auto;
    font-size: 24px;
    font-weight: bold;
}

.infoprice {
    margin: 20px auto;
    font-size: 30px;
    font-weight: bold;
}

.infocount {
    float: left;
/*     clear: both; */
    margin-top: 5px;
    font-size: 30px;
    font-weight: bold;
}

.selbox {
    float: right;
    margin-left: 10px;
}

.countsel {
    width: fit-content;
    height: 40px;
    padding-left: 15px;
}

.infobtn {
	float: left;
/*     clear: both; */
/*     margin-top: 75px; */
}

.cartbtn {
    width: 150px;
    height: 40px;
    margin-top: 7px;
    margin-left: 30px;
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    border: 1px solid gray;
}

.btn:hover {
    background-color: gainsboro;
}

.lineshare {
	float: left;
	margin-top: 12px;
	margin-left: 120px;
/* 	margin-right: 30%; */
}