.detailbox {
    width: fit-content;
    margin: 20px auto;
/*     position: relative; */
/*     left: 500px; */
}

.pddetail {
	height: 550px;
}

.detailimg {
    width: fit-content;
    margin: 20px;
    float: left;
    border: 1px solid gray;
}

.detailimgbox {
	position: relative;
    margin: 10px;
}

.pdimg{
    width: 400px;
    height: 400px;
}

.infobox {
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    width: 600px;
}

.infoname {
    font-size: 36px;
    font-weight: bold;
}

.infono {
    margin: 10px auto;
    color: gray;
    font-size: 18px;
    font-weight: bold;
}

.infoseries {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.infocate {
    margin: 20px auto;
    font-size: 24px;
    font-weight: bold;
}

.infoprice {
    margin: 20px auto;
    font-size: 30px;
    font-weight: bold;
}

.infocount {
    float: left;
    margin-top: 5px;
    font-size: 30px;
    font-weight: bold;
}

.selbox {
    float: right;
    margin-left: 10px;
}

.countsel {
    width: fit-content;
    height: 40px;
    padding-left: 15px;
}

.infobtnbox {
	clear: both;
}

.cartbtn {
    width: 150px;
    height: 40px;
    float: left;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    border: 1px solid gray;
}

.infostock {
	float: left;
    margin-top: 15px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    color: gray;
}

.lineshare {
	float: left;
	margin-top: 30px;
	margin-left: 300px;
}

.maybelike {
	margin-left: 20px;
	margin-bottom: 50px;
	width: fit-content;
	height: 350px;
	clear: both;
	border: 2px solid gray;
}

.maybeliketext {
	margin-top: 10px;
	margin-left: 10px;
	font-size: 24px;
    font-weight: bold;
}

.raside {
    width: 200px;
    margin: 10px;
    float: left;
    border: 1px solid gray;
}

.raimg{
    width: 200px;
    height: 150px;
}

.raname {
    width: 180px;
    height: 50px;
    margin: 10px;
}

.rabuttonbox {
    width: 198px;
    height: 35px;
    margin: 10px auto;
    border-top: 1px solid gray;
}

.raprice {
    height: 20px;
    margin: 10px 50px;
}

.toolbar {
	float: right;
    position: fixed;
    top: 40%;
    right: 0;
    width: 40px;
    border-radius: 5px;
    text-align: center;
    background-color: silver;
}

.toolbar_ul {
	line-height:20px;
}

.toolbar_li {
	width: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
   	list-style-type: none;
}

.toolbar_li:hover .msg {
	display: block;
	margin-top: -19px;
}

.toolbar_li:hover {
	border-radius: 5px;
	background-color: gray;
}

.toolbar_a {
	font-size: 24px;
}

.toolbar_a:link {
	color: white;
}

.toolbar_a:visited {
	color: white;
}

.toolbar_a:hover {
	color: tomato;
}

.top_a {
	color: white;
	font-size: 24px;
	cursor: pointer;
}

.top_a:hover {
	color:tomato;
}

.msg {
	display: none;
	width: 90px;
	position: absolute;
	margin-top: 5px;
	right: 38px;
	font-size: 14px;
    font-weight: bold;
	z-index: -1;
	border-radius: 5px;
	background-color: gray;
}

.like {
    width: 40px;
    height: 40px;
    float: right;
    line-height: 40px;
    text-align: center;
    background-color: transparent;
}

.like_button {
	color: red;
	font-size: 30px;
	border: none;
	background-color: transparent;
}