<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ProjectTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
    <description></description>
    <res-ref-name>jdbc/AYCBDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
   <resource-ref>
    <description></description>
    <res-ref-name>jdbc/AYCB2</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>FindAll</display-name> -->
<!--     <servlet-name>FindAll</servlet-name> -->
<!--     <servlet-class>product.FindAll</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>FindAll</servlet-name> -->
<!--     <url-pattern>/FindAll</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>ProductDetail</display-name> -->
<!--     <servlet-name>ProductDetail</servlet-name> -->
<!--     <servlet-class>product.ProductDetail</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>ProductDetail</servlet-name> -->
<!--     <url-pattern>/ProductDetail</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>Manager</display-name> -->
<!--     <servlet-name>Manager</servlet-name> -->
<!--     <servlet-class>product.Manager</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>Manager</servlet-name> -->
<!--     <url-pattern>/Manager</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>Find</display-name> -->
<!--     <servlet-name>Find</servlet-name> -->
<!--     <servlet-class>product.Find</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>Find</servlet-name> -->
<!--     <url-pattern>/Find</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>Screening</display-name> -->
<!--     <servlet-name>Screening</servlet-name> -->
<!--     <servlet-class>product.Screening</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>Screening</servlet-name> -->
<!--     <url-pattern>/Screening</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>ManagerDetail</display-name> -->
<!--     <servlet-name>ManagerDetail</servlet-name> -->
<!--     <servlet-class>product.ManagerDetail</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>ManagerDetail</servlet-name> -->
<!--     <url-pattern>/ManagerDetail</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>ManagerScreening</display-name> -->
<!--     <servlet-name>ManagerScreening</servlet-name> -->
<!--     <servlet-class>product.ManagerScreening</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>ManagerScreening</servlet-name> -->
<!--     <url-pattern>/ManagerScreening</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>EventServlet</display-name> -->
<!--     <servlet-name>EventServlet</servlet-name> -->
<!--     <servlet-class>event.EventServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>EventServlet</servlet-name> -->
<!--     <url-pattern>/EventServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>Controller</display-name> -->
<!--     <servlet-name>Controller</servlet-name> -->
<!--     <servlet-class>comment.Controller</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>Controller</servlet-name> -->
<!--     <url-pattern>/Controller</url-pattern> -->
<!--   </servlet-mapping> -->
  
<!--   <context-param> -->
<!-- 		<param-name>contextConfigLocation</param-name> -->
<!-- 		<param-value>/WEB-INF/applicationContext.xml</param-value>預設位置 本來就有 -->
<!-- 	</context-param> -->
<!-- 	<listener> -->
<!-- 		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> -->
<!-- 	</listener> -->
	
	
  
</web-app>