@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
	background-image:url(../image/bg.jpg);
}

.board {
	margin-bottom: 15px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 24px;
	color: #fff;
	background:	#FF8000;
	width:930px
}

.transition {
	width:850px;
	height:200px;
}

#content {
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
	margin-left: 300px;
	position: relative;
	top: 200px;
}

.a1:hover {
	color: #4D4D4D;
}

.a1:link {
	color: black;
	text-decoration: none;
}

.a1:active {
	color: black;
}

.transition:hover {
	border: 1px #9bdf70 solid;
	background: #f0fbeb;
	top:50px;
}

#shangtian,#ritian{
	border: none;
	background-color:#adcd3c;
  	width: auto;
  	line-height:1.6;
}

#clear{
	float:right;
	width:60px;
	height:30px;
	margin-top:10px;
	margin-right: 5px;
	}
	
#postBt{
	width:80px;
	height:30px;
	margin-top:10px;
	float:right;
}


#contentBox{
	margin-top:10px;
}
	
.discussionbox{
	width:900px;
	border:2px dashed #467500;
}

.board{animation: glow 800ms ease-out infinite alternate; }
@keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 1px 0 #393;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px 	#FF8000, inset 0 0 10px rgba(0,255,0,.4), 0 1px 0 #6f6;
    }
}

.confirmbox {
	width: 400px;
	border: 5px inset #ff80c0;
	border-radius: 15px;
	margin-left: 700px;
	position: relative; 
	top: 200px;
}

.arrow_box{
	border: 2px dashed;
    margin: 0 auto;
    width: 500px;
    height: 100px;
    text-align: center;
    line-height: 2.5;
    font-size: 40px;
    animation: glow 800ms ease-out infinite alternate;
	background-image: linear-gradient(yellow,pink);
	position: relative; 
	top: 200px;
 }
@keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 1px 0 #393;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 1px 0 #6f6;
    }
}

.article{
	float: right; 
	width: 80%;
	margin-top:10px;
	border-style: ridge;
	border-width: 5px;
	border-color: 	#FFA6FF;
	border-radius: 5px;
}

.updateform {
	margin: auto;
	position: relative;
	top: 200px;width: 600px;
	border: 5px inset #ff80c0;
	border-radius: 15px;
}

.title{
	font-size: 30px;
	font-weight: bold;
}

.disscussarea{
	float:left;
}

.selectrecord,.title1,.row{
	background-color:#FFEEDD;
	margin-left: 250px;
    border: 1px solid black;

}
.selectrecord {
  border-collapse: collapse;
}